.container {
	margin: 0 auto;
	width: 85%;
}

header {
	background-color: black;
	overflow: hidden;
	text-transform: uppercase;
	padding: 10px 0;
}

header h1 {
	font-size: 35px;
	float: left;
	color: white;
}

header nav {
	float: right;
	margin-top: 8px;
}

header nav a {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin-left: 50px;
}
#burger {
	float: right;
	display: none;
}
#mobile-nav {
	display: none;
}
#mobile-nav-div {
	display: none;
}

@media screen and (max-width: 960px) {
	#burger {
		display: block;
	}
	#mobile-nav {
		display: block;
		text-align: center;
	}
	#large-nav {
		display: none;
	}
	a {
		display: block;
		text-decoration: none;
		font-family: helvetica;
		font-size: 14px;
		padding: 15px;
		color: grey ;
	}
	#mobile-nav-div {
    	background-color: #f1f1f1;
    	display: block;
	}
}