/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
}

header {
  background-color: #033048;
  height: 120px;

}

footer {
  background-color: #121212;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.logo {
  float:left;
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
  line-height: 120px;
  float: left;
}
h1 {
  font-size: 40px;
  font-weight: 600;
}
a {
  font-weight: 600;
  font-size: 24px;
  color: #f9e42e;  
  text-decoration: none;
}
p {
  font-size: 24px;
  font-weight: 300;
  color: #606161;
}
.categories-list {
  font-weight: 300;
  font-size: 24px;
  display: block;
}

main {
  float: left;
  max-width:700px;
}
.sidebar {
  float: right;
  max-width:240px;
  padding-left: 20px;
}
h3 {
  font-weight: 800;
  font-size: 32px;
}
.sign-up {
  background-color: #f9e42e;
  text-align: center;
  font-weight: 800;
  color: white;
}
.copyright {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  padding: 80px 0px 40px 0px;
}

nav {
    line-height: 100px;
    float: right;
}
#yellow {
  color: yellow;
  text-align: center;
  padding: 70px 0px;
}
.socialmedia {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
#centeredsocialmedia {
  text-align: center;
  line-height: 20px;
}
#button {
  padding: 10px 60px 10px 60px;
  background-color: #053049;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  line-height: 120px;
}